<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение пароля</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
    {{> button-back}}
    
    <section class="page-profile__wrapper">
        <div class="page-profile__block-name">
            <div class="page-profile__photo-user"><img class="page-profile__photo-img" src="../../static/img/foto.png"></div>
            <span class="page-profile__name-user">Иван</span>
        </div>
        <div>
            <div class="page-profile__data-user page-profile__border">
                <div class="page-profile__data">Старый пароль</div>
                 <div class="page-profile__data" name="oldPassword">*********</div>
            </div>
            <div class="page-profile__data-user page-profile__border">
                <div class="page-profile__data">Новый пароль</div>
                 <div class="page-profile__data" name="newPassword">*********</div>
            </div>
            <div class="page-profile__data-user page-profile__border">
                <div class="page-profile__data">Повторите новый пароль</div>
                 <div class="page-profile__data" name="newPassword">*********</div>
            </div>
        </div>
        <div class="page-profile__block-button">
            {{> button label="Сохранить"}}
        </div>
    </section>
</body>
</html>