<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чаты</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>
    <div class="page-chat__wrapper">
        <div class="page-chat__block-chats-list">
            <div class="page-chat__block-chats-head">
                <a href="#">Профиль <img src="../../static/img/arrow-right.svg" alt=""> </a>
                {{> search}}
            </div>
        </div>
        <div class="page-chat__block-chats">
            <div class="page-chat__block-chats-user-panel">
                <div class="page-chat__block-chats-user-block">
                    <img src="../../static/img/foto.png" alt="фото пользователя"
                        class="page-chat__block-chats-user-foto">
                    <div class="page-chat__block-chats-user-name">Вадим</div>
                </div>
                <a class="page-chat__block-chats-menu">
                    <img src="../../static/img/menu.svg" alt="меню">
                </a>
            </div>
            <div class="page-chat__block-main">
                <div class="page-chat__block-chats-main">Выберите чат чтобы отправить сообщение</div>
            </div>
        </div>
    </div>
</body>

</html>