<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чаты</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>
    <div class="page-chat__wrapper">
        <div class="page-chat__block-chats-list">
            <div class="page-chat__block-chats-head">
                <a href="#">Профиль <img src="../../static/img/arrow-right.svg" alt=""> </a>
                {{> search}}
            </div>
        </div>
        <div class="page-chat__block-chats">
            <div class="page-chat__block-chats-user-panel">
                <div class="page-chat__block-chats-user-block">
                    <img src="../../static/img/foto.png" alt="фото пользователя"
                        class="page-chat__block-chats-user-foto">
                    <div class="page-chat__block-chats-user-name">Вадим</div>
                </div>
                <a class="page-chat__block-chats-menu">
                    <img src="../../static/img/menu.svg" alt="меню">
                </a>
            </div>
            <div class="page-chat__block-main">
                {{>block-message-other message="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в
                какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем
                что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на
                поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

                Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не
                попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."}}
                 {{>block-message-my message="Круто!"}}
            </div>


            <div class="page-chat__block-chats-user-panel b-0">
                <div class="page-chat__block-chats-new-message">
                    <button class="page-chat__block-chats-user-panel-clip"><img src="../../static/img/clip.svg"
                            alt="скрепка"></button>
                    {{> write-message}}
                    <button class="page-chat__block-chats-user-panel-button-right"><img
                            src="../../static/img/button-arrow-right.svg" alt="кнопка"></button>
                </div>
            </div>


        </div>
    </div>
</body>

</html>