<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>
    <main>
        {{> button-back}}

        <section class="page-profile__wrapper">
            <div class="page-profile__block-name">
                <div class="page-profile__photo-user" name="avatar"><img class="page-profile__photo-img"
                        src="../../static/img/foto.svg"></div>
                <span class="page-profile__name-user">Иван</span>
            </div>
            <ul>
                <li class="page-profile__data-user page-profile__border">
                    <div class="page-profile__data">Почта</div>
                    <div class="page-profile__data" name="email">pochta@yandex.ru</div>
                </li>
                <li class="page-profile__data-user page-profile__border">
                    <div class="page-profile__data">Логин</div>
                    <div class="page-profile__data" name="login">ivanivanov</div>
                </li>
                <li class="page-profile__data-user page-profile__border">
                    <div class="page-profile__data">Имя</div>
                    <div class="page-profile__data" name="first_name">Иван</div>
                </li>
                <li class="page-profile__data-user page-profile__border">
                    <div class="page-profile__data">Фамилия</div>
                    <div class="page-profile__data" name="second_name">Иванов</div>
                </li>
                <li class="page-profile__data-user page-profile__border">
                    <div class="page-profile__data">Имя в чате</div>
                    <div class="page-profile__data" name="display_name">Иван</div>
                </li>
                <li class="page-profile__data-user page-profile__border">
                    <div class="page-profile__data">Телефон</div>
                    <div class="page-profile__data" name="phone">+7 (909) 967 30 30</div>
                </li>
            </ul>
            <nav class="page-profile__block-name">
                <ul>
                    <li class="page-profile__border"><a class="page-profile__link" href="./change-data.hbs">Изменить данные</a></li>
                    <li class="page-profile__border"><a class="page-profile__link" href="./change-password.hbs">Изменить пароль</a></li>
                    <li class="page-profile__border"><a class="page-profile__link" href="../../static/index.hbs">Выйти</a></li>
                </ul>
            </nav>
        </section>
    </main>
</body>

</html>