$main__form-color: #FFFFFE;

.components__message {
    width: 410px;
    min-height: 40px;
    background-color: $main__form-color;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.components__message-my {
    position: absolute;
    right: 20;
    width: 410px;
    min-height: 40px;
    background-color: $main__form-color;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.components___message_time {
    text-align: end;
}

.components__message-info {
    display: flex;
    justify-content: end;
}

.components__message-info img {
    margin-left: 10px;
}