<div class="components__message-my">
  {{ message}}
  <div class="components__message-info">
    <div class="components___message_time">14:05</div>
    <img src="../../static/img/ticks.svg" alt="галочки прочтения сообщения">
  </div>
</div>
