<div class="component-button-back">
    <button class="component-button-back__block-img">
        <img src="../../static/img/button-back.png" class="component-button-back__img" alt="кнопка назад">
    </button>
</div>