<div class="component__button-back">
    <button class="component__button-back__block-img">
        <img src="../../static/img/button-back.svg" class="component__button-back__img" alt="кнопка назад">
    </button>
</div>
