$color__yellow: #FFD803;
$color__black: #272343;

.main__button {
    width: 280px;
    height: 37px;
    border: none;
    font-size: 13px;
    border-radius: 7px;
    margin: 10px 0;
    background-color: $color__yellow;
}