$main__text-color-blue: #BAE8E8;

.component-button-back {
    height: 100vh;
    width: 64px;
    background-color: $main__text-color-blue;
    position: fixed;
    left: 0;
    top: 0;
}

.component-button-back__block-img {
    height: 39px;
    width: 39px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40%;
    left: 5px;
}

.component-button-back__img {
    border-radius: 50%;
}