<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Авторизация</title>

</head>

<body>
    <main>
        <div class="page-authorization__block">
            <form action="" class="page-authorization__form">
                <div>
                    <h1 class="page-authorization__h1">Вход</h1>
                    <div class="page-authorization__block-input">
                        <span class="page-authorization__text-input">Логин</span>
                        <input type="text" name="login" required class="page-authorization__input">
                    </div>
                    <div class="page-authorization__block-input">
                        <span class="page-authorization__text-input">Пароль</span>
                        <input type="password" name="password" required class="page-authorization__input">
                    </div>
                </div>
                <div class="page-authorization__form-block-button">
                    {{> button label='Авторизоваться'}}
                    <a href="../src/pages/registration.hbs" class="page-authorization__link">Впервые?</a>
                </div>
            </form>
        </div>
        <a href="../src/pages/profile.hbs">профиль</a>
        <a href="../src/pages/404.hbs">404</a>
        <a href="../src/pages/500.hbs">500</a>
        <a href="../src/pages/chat-page.hbs">чаты</a>
    </main>
</body>

</html>
