.main__button {
  width: 280px;
  height: 37px;
  border: none;
  font-size: 13px;
  border-radius: 7px;
  margin: 10px 0;
  background-color: #FFD803; }

.component-button-back {
  height: 100vh;
  width: 64px;
  background-color: #BAE8E8;
  position: fixed;
  left: 0;
  top: 0; }

.component-button-back__block-img {
  height: 39px;
  width: 39px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 5px; }

.component-button-back__img {
  border-radius: 50%; }

.component__modal-window {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  background-color: #FFFFFE;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(30, 30, 30, 0.1); }

.component__modal-window > div {
  font-size: 20px;
  line-height: 25px;
  text-align: center; }

.page-authorization__block {
  width: 340px;
  height: 450px;
  color: #1e1e1e;
  background-color: #fffffe;
  margin: 120px auto 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(30, 30, 30, 0.1); }

.page-authorization__h1 {
  font-size: 20px;
  line-height: 30px;
  text-align: center; }

.page-authorization__text-input {
  font-size: 12px;
  line-height: 25px; }

.page-authorization__block-input {
  width: 280px;
  height: 50px;
  border-bottom: 1px solid #BAE8E8;
  margin: 10px 0; }

.page-authorization__input {
  outline: none;
  border: none;
  width: 100%;
  height: 23px; }

.page-authorization__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 450px; }

.page-authorization__link {
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: #1E1E1E;
  text-align: center; }

.page-authorization__form-block-button {
  display: flex;
  justify-content: center;
  height: 100px;
  flex-direction: column;
  align-items: center; }

.page-registration__block {
  width: 340px;
  height: 590px;
  color: #1E1E1E;
  background-color: #fffffe;
  margin: 40px auto 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(30, 30, 30, 0.1); }

.page-error__wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto 0; }

.page-error__h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px; }

.page-error__text {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 35px; }

.page-error__link {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #1E1E1E;
  border-bottom: 1px solid #1E1E1E; }

.page-profile__wrapper {
  width: 510px;
  height: 550px;
  padding: 20px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.page-profile__photo-user {
  width: 130px;
  height: 130px;
  margin: 0 auto 10px; }

.page-profile__name-user {
  font-size: 20px;
  line-height: 25px;
  text-align: center; }

.page-profile__block-name {
  display: flex;
  flex-direction: column;
  width: 510px; }

.page-profile__link {
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  color: #1E1E1E; }

.page-profile__border {
  border-bottom: 1px solid #BAE8E8;
  width: 510px; }

.page-profile__photo-img {
  border-radius: 50%; }

.page-profile__data-user {
  display: flex;
  justify-content: space-between; }

.page-profile__data {
  font-size: 16px;
  line-height: 25px; }

.page-profile__block-button {
  display: flex;
  flex-direction: column;
  width: 510px;
  align-items: center; }

a, button {
  cursor: pointer; }

body {
  background-color: #E3F6F5;
  color: #1E1E1E; }

/*# sourceMappingURL=styles.css.map */
