$main__text-color: #1E1E1E;
$main__text-color-blue: #BAE8E8;
$main__form-color: #FFFFFE;

.page-chat__wrapper {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-chat__block-chats-list {
    width: 20%;
    position: relative;
    top: 0;
    left: 0;
    background-color: $main__form-color;
    border-bottom: 1px solid $main__text-color-blue;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-chat__block-chats-head {
    height: 100px;
    display: flex;
    padding: 15px 10px 10px;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid $main__text-color-blue;}

.page-chat__block-chats-head a {
    text-decoration: none;
    text-align: end;
    margin-bottom: 20px;
    color: $main__text-color;
    font-size: 15px;
}

.page-chat__block-chats {
    border-left: 2px solid $main__text-color-blue;
    width: 80%;
}

.page-chat__block-chats-user-panel {
    height: 50px;
    background-color: $main__text-color-blue;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.page-chat__block-chats-menu {
    height: 15px;
    width: 5px;
}

.page-chat__block-chats-user-name {
    font-size: 18px;
    margin-left: 10px;
}

.page-chat__block-chats-user-block {
    display: flex;
    align-items: center;
}

.page-chat__block-chats-user-foto {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.page-chat__block-chats-main {
    margin-top: 250px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.page-chat__block-chats-user-panel-clip {
    width: 32px;
    height: 32px;
}

.page-chat__block-chats-user-panel-button-right {
    width: 28px;
    height: 28px;
}

.page-chat__block-chats-new-message {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 0 20px;
}

.b-0 {
    position: absolute;
    bottom: 0;
    left: 308px;
    right: 0;
  }

  .page-chat__block-main {
    padding: 20px;
  }

  .page-chat__block-chats-chat {
    height: 70px;
    border-bottom: 1px solid $main__text-color-blue;
    display: flex;
    padding: 10px;
  }

  .page-chat__block-chats-chat-foto {
    width: 50px;
    margin-right: 5px;
  }

  .page-chat__block-chats-chat-message {
    height: 30px;
    display: flex;
    justify-content: space-between;
  }

  .page-chat__block-chats-chat-message span {
    line-height: 16px;
    font-size: 14px;
  }

  .page-chat__block-chats-chat-info {
    display: flex;
    justify-content: space-between;
  }

  .page-chat__block-chats-chat-info span {
    line-height: 16px;
    font-size: 14px;
  }

  .page-chat__block-chats-chat-user-name {
    margin-bottom: 10px;
  }

  .page-chat__block-chats-chat-main {
    display: flex;
    flex-direction: column;
  }

  .page-chat__active {
    background-color: $main__text-color-blue;
  }