@import '../components/button.scss';
@import '../components/button-back.scss';
@import '../components/modal-window.scss';
@import '../components/search.scss';
@import './layout-pages/authorization.scss';
@import './layout-pages/error.scss';
@import './layout-pages/profile.scss';
@import './layout-pages/chat.scss';

$main__form-color: #FFFFFE;
$main__text-color: #1E1E1E;
$main__other-color: #BAE8E8; 

a, button {
    cursor: pointer;
}

body{
    background-color: $main__background-color;
    color: $main__text-color;
}